<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to "edit a task", edit_path %>
<%= link_to "delete",
task_path(@task),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
